<div class="container-fluid">
    <div class="row">
        <div class="app-row">
            <div class="app-nav">
                <app-side-menu ></app-side-menu>
            </div>
            <div class="app-content">
                    <app-top-menu [adminD]="admin"></app-top-menu>
                        <div class="page-section">
                          <div class="alert alert-success" *ngIf="message">{{message.text}}</div>
                            <app-title></app-title>
                            <router-outlet></router-outlet>
                        </div>
            </div>
        </div>
    </div>       
</div>
  