.add-subscriber{
    height: 80vh;
    overflow-y: auto; 
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            span{
                display: block;
                padding: 5px;
                cursor: pointer;
                border: 1px solid #ccc;
                margin: 5px 0;
                border-radius: 4px;
            

            }
            span.user_selected{
                background: #28a745;
                color: white;
                border-color: #28a745; 
            }
           
        }
    }
}