
    <div class="row">
        <div class="col-12 col-sm-4" >
            <div class="card add-subscriber">
              <div class="card-body">
                <div class="form-group">
                    <ul>
                      <li *ngFor="let user of users let i = index" >
                        <span  [class.user_selected]="selectedIndex === i" (click)="onSelect(user.id_users, i)">{{user.first_name}} {{user.last_name}}</span>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm-8 col-12">
          <div class="card add-formation" *ngIf="user">
              <div class="card-body">
                  <form [formGroup]="formSubscribe" (ngSubmit)="createSubscribe(formSubscribe.value)" *ngIf="oneFormation" >
                    <div class="form-group">
                      <label for="nom">Nom de la formation</label>
                      <input type="text" class="form-control"   [value]="oneFormation.name_formation" readonly  />
                      <input type="hidden" [(ngModel)]="idFormation" formControlName="idFormation" id="nom" />
                    </div>
                    <div class="form-group" *ngIf="userId">
                        <label for="userId">Utilisateur</label>
                        <input  type="text"  class="form-control" disabled readonly [value]="user.first_name+ ' ' +user.last_name"   />
                        <input  type="hidden" class="form-control" id="userId" formControlName="userId" [(ngModel)]="userId"   />
                    </div>
                    <div class="form-group" >
                        <label for="date">Date</label>

                        <input  type="text" class="form-control" id="date" formControlName="date" [minDate]="minDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" />
                    </div>
                        <div class="btn-submit float-right">
                            <button type="submit" class="btn btn-success" >Valider</button>
                            <button type="reset" class="btn btn-danger ">Annuler</button>
                            
                        </div>
        
                        
                       
                  </form>
                </div>
          
          </div>
        </div>
    </div>