<div class="app-nav" >
  <ul class="list-unstyle">
      <li><a routerLink="/admin/dashboard" routerLinkActive="active"><i class="lnr lnr-home"></i></a></li>
    <li><a routerLink="/admin/users" routerLinkActive="active"><i class="lnr lnr-user"></i></a></li>
    <li><a routerLink="/admin/formations" routerLinkActive="active"><i class="lnr lnr-graduation-hat"></i></a></li>
    <li><a routerLink="/admin/subscribes" routerLinkActive="active"><i class="lnr lnr-license"></i></a></li>
    <li><a routerLink="/" (click)="onLogout()" ><i class="lnr lnr-power-switch"></i></a></li>
  </ul>
</div>