.top-menu{
    display: flex;
    background: #2e2e2e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            a{
                display: block;
                color: white;
                text-align: center;
                padding: 15px 20px;
                text-decoration: none; 
            }
        }
    }

}