<div class="detail-user" *ngIf="formation">
      <div class="row">
          <div class="col-6">
              <div class="update-user">
                <app-edit-formation [formation]="formation"></app-edit-formation>
              </div>
            </div>
          <div class="col-6" >
              <div class="detail-user">
                  <ul>
                    <li><img src="assets/uploads/{{formation.img_formation}}" class="img-fluid img-detail" alt="img" /></li>
                    <li><strong>Enseignant :</strong> {{formation.ens_formation}}</li>
                    <li><strong>Description :</strong> {{formation.descript_formation}}</li>
                  </ul>
                </div>
            </div>
      </div>
    </div>

