.detail-user{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            margin-bottom: 10px;
            padding: 15px;
            img {
                margin: auto;
                display: block;
                
            }
         }
    }
    

}