<div class="detail-user" *ngIf="subscribe">
      <div class="row">
          <div class="col-12" >
              <div class="detail-subscribe">
                  <ul>
                    <li><strong>Nombre de candidat : </strong>{{subscribe.num_users}}</li>
                    <li><strong>Disponibilité : </strong>Pas encore</li>
                    <li><strong>Date : </strong> {{subscribe.date | date : "dd/mm/yy"}}</li>
                  </ul>
                </div>
            </div>
      </div>

    </div>

