
<div class="row">


      <div class="page-all-users col-12" *ngIf="users">
        <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-sm-4">
                    <div class="float-right mb-2"><span class="badge badge-success">{{users.length}}</span> utilisateurs</div>
                </div>
                <div class="col-sm-6">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="term" class="col-sm-3">Recherche :</label>
                        <div class="col-sm-9">
                            <input type="text" [(ngModel)]="terme" name="terme" id="terme" class="form-control" />
                        </div>
                      </div>
                      </form>
                </div>
              </div>
               
              
             
            </div>
        </div>
        
  
      <div class="row">
          <div class="col-md-3 col-12 col-sm-6" *ngFor="let user of userByTwelve | filter : terme;  let index = index">
              <div class="card users">
                <div class="card-header">
                    
                    <h5 class="card-title">{{user.id_users}} {{user.first_name}} {{user.last_name}}</h5>
                </div>
                  <div class="card-body">
                    
                    <ul class="user-info">
                        
                      <li><i class="lnr lnr-earth"></i> <a href="mailto:{{user.email}}">{{user.email}}</a></li>
                      <!--<li><i class="lnr lnr-envelope"></i> <a href="mailto:{{user.email}}">{{user.email}}</a></li>-->
                      <li><i class="lnr lnr-phone"></i>{{user.phone}}</li>

                    </ul>
                    <ul class="user-button">
                      <li><a routerLink="/admin/users/detail/{{user.id_users}}" class="btn btn-primary">Lire La suite</a></li>
                      <li><button class="btn btn-danger" (click)="deleteUser(user.id_users, index)"><i class="lnr lnr-cross"></i></button></li>
                    </ul>
                    
                    
                  

                  </div>
              </div>
            </div>
      </div>
      <div class="row">
    
          <pagination [totalItems]="length" (pageChanged)="pageChanged($event)" [itemsPerPage]="12"></pagination>
      
      </div>
    </div>
    

