.users{
    margin-bottom: 25px;
    .user-info{
        margin: 0;
        padding: 0 0 0 5px;
        list-style: none;
        li{
            i{
                margin-right: 4px;
            }
            margin-bottom: 0.25rem;
        }
    }
    .card-title{
        margin-bottom: .75rem;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        &::after{
            content: "";
            display: block;
            height: 1px;
            width: 130px;
            background: #007bff;
            margin: auto;
            position: relative;
            top: 6.5px;
        }
    }
    .card-body{
        padding: 1.25rem 0.5rem;
        font-size: 14px;
        .user-button{
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 10px 0 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0 5px 0px 0;
            }
        }
    }    
}