    <div class="row">

   
          <div class="col-md-3 col-12 col-sm-6" *ngFor="let formation of formations;  let index = index">
              <div class="card formations">
                  <div class="card-header">
                      <h5 class="card-title">{{formation.name_formation}}</h5>
                  </div>
                <img class="card-img-top" src="assets/uploads/{{formation.img_formation}}" alt="Card image cap">
              
                  <div class="card-body">
                    <p>{{formation.descript_formation}}</p>
                    <ul class="user-info">
                      <li><i class="lnr lnr-user"></i> {{formation.ens_formation}}</li>

                    </ul>
                    <ul class="user-button">
                      <li><a routerLink="/admin/formations/detail/{{formation.id_formation}}" class="btn btn-primary">Lire La suite</a></li>
                      <li><button class="btn btn-danger" (click)="onDeleteFormation(formation)"><i class="lnr lnr-cross"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-footer">
                    <a routerLink="/admin/subscribes/add/{{formation.id_formation}}" class="btn btn-success btn-block">S'inscrire à la formation</a>
                  </div>
              </div>
            </div>
          </div>
    

