
      <div class="row">
          <div class="col-12" >
              <div class="card add-user">
                  <div class="card-body">
                    <form [formGroup]="formUser" (ngSubmit)="createUser()" novalidate>
                      <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" id="nom" formControlName="nom" [ngClass]="{'input-error': (submitted && form.nom.errors) || (form.nom.errors && !form.nom.pristine) }" />
                        <div *ngIf="form.nom.errors" class="invalid-feedback" [ngClass]="{'show-error': (submitted && form.nom.errors) || (form.nom.errors && !form.nom.pristine) }" >
                            <span *ngIf="form.nom.errors.required">Champs obligatoire</span>
                            <span *ngIf="form.nom.errors.minlength">Taille minimum 3</span>
                            <span *ngIf="form.nom.errors.pattern">Contien que des lettres</span>
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="prenom">Prénom</label>
                          <input type="text" class="form-control" id="prenom" formControlName="prenom"  [ngClass]="{'input-error': (submitted && form.prenom.errors) || (form.prenom.errors && !form.prenom.pristine) }"/>
                          <div *ngIf="form.prenom.errors" class="invalid-feedback" [ngClass]="{'show-error': (submitted && form.prenom.errors) || (form.prenom.errors && !form.prenom.pristine) }" >
                              <span *ngIf="form.prenom.errors.required">Champs obligatoire</span>
                              <span *ngIf="form.prenom.errors.minlength">Taille minimum 3</span>
                              <span *ngIf="form.prenom.errors.pattern">Contien que des lettres</span>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control" id="email" formControlName="email" [ngClass]="{'input-error': (submitted && form.email.errors) || (form.email.errors && !form.email.pristine) }" />
                            <div *ngIf="form.email.errors" class="invalid-feedback" [ngClass]="{'show-error': (submitted && form.email.errors) || (form.email.errors && !form.email.pristine) }" >
                              <span *ngIf="form.email.errors.required">Champs obligatoire</span>
                              <span *ngIf="form.email.errors.email">E-mail Invalide</span>
                           
                          </div>
                          </div>
                          <div class="form-group">
                              <label for="password">Mot de passe</label>
                              <input type="text" class="form-control" id="password" formControlName="password" [ngClass]="{'input-error': (submitted && form.password.errors) || (form.password.errors && !form.password.pristine) }" />
                              <div *ngIf="form.password.errors" class="invalid-feedback" [ngClass]="{'show-error': (submitted && form.password.errors) || (form.password.errors && !form.password.pristine) }" >
                                <span *ngIf="form.password.errors.required">Champs obligatoire</span>
                            </div>
                            </div>
                          <div class="form-group">
                              <label for="Poste">Poste</label>
                              <input type="text" class="form-control" id="poste" formControlName="poste" [ngClass]="{'input-error': (submitted && form.poste.errors) || (form.poste.errors && !form.poste.pristine) }" />
                              <div *ngIf="form.poste.errors" class="invalid-feedback" [ngClass]="{'show-error': (submitted && form.poste.errors) || (form.poste.errors && !form.poste.pristine) }" >
                                  <span *ngIf="form.poste.errors.required">Champs obligatoire</span>
                                  <span *ngIf="form.poste.errors.pattern">Contient que des lettres</span>
                               
                              </div>
                            </div>
                          <div class="form-group">
                              <label for="phone">Téléphone</label>
                              <input type="text" class="form-control" id="phone" formControlName="phone" [ngClass]="{'input-error': (submitted && form.phone.errors) || (form.phone.errors && !form.phone.pristine) }"/>
                              <div *ngIf="form.phone.errors" class="invalid-feedback" [ngClass]="{'show-error': (submitted && form.phone.errors) || (form.phone.errors && !form.phone.pristine)}" >
                              <span *ngIf="form.phone.errors.pattern">Contient que des numeros</span>
                               
                              </div>
                            </div>
                          <div class="form-group">
                              <label for="website">Site web</label>
                              <input type="text" class="form-control" id="website" formControlName="website" [ngClass]="{'input-error': (submitted && form.website.errors) || (form.website.errors && !form.website.pristine) }" />
                              <div *ngIf="form.website.errors" class="invalid-feedback" [ngClass]="{'show-error': (submitted && form.website.errors) || (form.website.errors && !form.website.pristine) }" >
                                  <span *ngIf="form.website.errors.pattern">Contient un url</span>
                               
                              </div>
                            </div>
                       
                          <div class="btn-submit float-right">
                              <button type="submit" class="btn btn-success ">Valider</button>
                              <button type="reset" class="btn btn-danger ">Annuler</button>
                              
                          </div>
                          
                         
                    </form>
                  </div>
                </div>
            </div>
      </div>
    

