<div class="col-12" >
              <div class="card add-user">
        
                  <div class="card-body">
                    <form [formGroup]="formFormation" (ngSubmit)="createFormation()" >
                      <div class="form-group">
                        <label for="nom">Nom de la formation</label>
                        <input type="text" class="form-control" id="nom" formControlName="nom" />
                    
                      </div>
                      <div class="form-group">
                          <label for="description">description de la formation</label>
                          <textarea type="text" class="form-control" id="description" formControlName="description" ></textarea>
                         
                        </div>
                        <div class="form-group">
                            <label for="ens">Enseignant</label>
                            <input type="text" class="form-control" id="ens" formControlName="ens" />
                         
                          </div>
                          <div class="form-group">
                            <label>Image de la formation</label>
                              <div class="custom-file">
                                  <input type="file"   class="custom-file-input" id="file" formControlName="file" #imgFormation>
                                  <label class="custom-file-label" for="file">Choisir une image</label>
                                </div>
                            </div>
                       
                       
                          <div class="btn-submit float-right">
                              <button type="submit" class="btn btn-success" >Valider</button>
                              <button type="reset" class="btn btn-danger ">Annuler</button>
                              
                          </div>
                          
                         
                    </form>
                  </div>
                </div>
            </div>
  
    

