<div class="col-12" *ngIf="chart">
  <div class="row">
      <div class="col-3" >
        <div class="card">
          <div class="card-header">Nombre d'utilisateurs</div>
          <div class="card-body">
              <canvas id="canvas">{{ chart }}</canvas>
          </div>
            
        </div>
  

  </div>
  <div class="col-3">
      <div class="card">
        <div class="card-header">Nombre de formation</div>
        <div class="card-body">
        </div>
          
      </div>
</div>
   
</div>