<div class="container-fluid">

<div class="row justify-content-center">
  <div class="col-12 col-sm-6">
    <div class="card">
      <div class="card-header">Connectez-vous</div>
      <div class="card-body">
          <div class="login">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
              <div class="form-group" *ngIf="failedError">
                <div class="alert alert-danger">
                    {{failedError}}
                </div>
              </div>
              <div class="form-group" >
                <label for="email">E-mail :</label>
                <input type="text" class="form-control" formControlName="email" [ngClass]="{'input-error': (submitted && form.email.errors) || (form.email.errors && !form.email.pristine) }" />
                <div *ngIf="form.email.errors" class="invalid-feedback" [ngClass]="{'show-error': (submitted && form.email.errors) || (form.email.errors && !form.email.pristine) }">
                  <span *ngIf="form.email.errors.required">Champs obligatoire</span>
                  <span *ngIf="form.email.errors.email">E-mail Invalide</span>
                </div>
              </div>
              <div class="form-group">
                  <label for="email">Mot de passe</label>
                  <input type="password" class="form-control" formControlName="password" [ngClass]="{'input-error': (submitted && form.password.errors) || (form.password.errors && !form.password.pristine) }" />
                  <div *ngIf="form.password.errors" class="invalid-feedback" [ngClass]="{'show-error': (submitted && form.password.errors) || (form.password.errors && !form.password.pristine) }">
                    <span *ngIf="form.password.errors.required">Champs obligatoire</span>
                  </div>
                </div>
                <div class="float-right float-grp">
                  <button class="btn btn-primary">Se connecter</button>
                  <button type="reset" class="btn btn-default">Annuler</button>
                </div>
              </form>
          </div>
      </div>
  </div>
  </div>
</div>

</div>