  <div class="detail-user" *ngIf="user">
    <div class="row">
          <div class="col-6">
              <div class="update-user">
                <app-edit-user [user]="user"></app-edit-user>
              </div>
            </div>
          <div class="col-6" >
              <div class="detail-user">
                  <ul>
                    <li><strong>Poste:</strong> {{user.poste}}</li>
                    <li><strong>E-mail:</strong> {{user.email}}</li>
                    <li><strong>Téléphone:</strong> {{user.phone}}</li>
                    <li><strong>Site web:</strong> {{user.website}}</li>
                    
                  </ul>
             
               
                </div>
             
            </div>
          </div>
      </div>
  

