<div class="row">
              <div class="col-12">
                  <div class="card formations">
                      <div class="card-body">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Nom de formation</th>
                                    <th>Nombre d'utilisateur</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let subscriber of subscribers">
                                    <td>{{subscriber.name_formation}}</td>
                                    <td><span class="badge badge-success">{{subscriber.num_users}}</span></td>
                                    <td>{{subscriber.date | date : "dd/mm/yy"}}</td>
                                    <td>
                                        <ul class="list-btn">
                                                <li><a routerLink="/admin/subscribes/detail/{{subscriber.id_formation}}" class="btn btn-secondary">Detail</a></li>
                                                <li><a routerLink="/admin/subscribes/detail/{{subscriber.idformations_users}}" class="btn btn-danger">Supprimer</a></li>
                                                <li><a routerLink="/admin/subscribes/add/{{subscriber.id_formation}}" class="btn btn-primary">S'inscrire</a></li>
                                        </ul>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
               
                  </div>
                </div>
          </div>
    
     
        
    
    