

            <div class="card add-user" *ngIf="formation">
                <div class="card-body">
                  <form [formGroup]="formUpdate" (ngSubmit)="updateUser()">
                    <div class="form-group">
                      <label for="nom">Nom de la formation</label>
                      <input type="text" class="form-control" id="nom" formControlName="nom"  value="{{formation.name_formation}}" />
                    </div>
                    <div class="form-group">
                        <label for="prenom">déscription de la formation</label>
                        <textarea class="form-control" formControlName="description" value="{{formation.descript_formation}}">
                         
                        </textarea>
                      </div>
                  
                        <div class="form-group">
                            <label for="ens">Enseignant</label>
                            <input type="text" class="form-control" id="ens" formControlName="ens" value="{{formation.ens_formation}}" />
                            
                          </div>
                        <div class="form-group">
                            <label for="Poste">Téléverser une image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" formControlName="file" #imgFormation>
                                <label class="custom-file-label" for="customFile">Choisir une image</label>
                              </div>
                          
                          </div>
                        <div class="btn-submit float-right">
                            <button type="submit" class="btn btn-success ">Modifier</button>
                            <button type="reset" class="btn btn-danger ">Annuler</button>
                            
                        </div>
                        
                       
                  </form>
                </div>
              </div>
  
  

