
body{
    background: #f9f9f9;
    font-family: "Montserrat", sans-serif;

}
.app-row{
    display: flex;
    width: 100%;
    .app-nav{
        height: 100vh;
  
        background: #2e2e2e;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                a{
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 15px 20px;
                    text-decoration: none;
                }
                a:hover, a.active{
                    background: #007bff;
                }
               
            }
        }
    }
    .app-content{
        padding: 60px 15px 0;
        width: 100%;
        overflow-y: auto;
        height: 100vh;
        position: relative;

        .page-title{
            border-bottom: 1px solid #eee;
            position: relative;
            margin-bottom: 15px;
            h1{
                text-transform: uppercase;
                color: #1a1a1a;
            }
            .btn-title{
                position: absolute;
                right: 0;
                top: 12px;
                display: block;
            }
        }
        .page-section{
            padding: 15px 0;
        }
        
    }
    .btn-submit{
        button{
            margin: 0 0 0 5px;
        }
    }
    a:not([href]):not([tabindex]){
        color: #fff;
    }
  
    .custom-file-input{
        cursor: pointer;
    }
    .custom-file-label::after{
        content: "Parcourir";
        cursor: pointer;
    }
  
    .error-feedback{
        font-size: 12.5px;
        color: #dc3545;
        span{
            display: block;
        }
    }
  
    .show-error{
        display: block;
    }
    .msg_bottom{
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

}
.show-error{
    display: block;
    span{
        display: block;
    }
}
.input-error{
    border-color: #dc3545;
}
