

            <div class="card add-user" *ngIf="user">
                <div class="card-header">
                  changez vos informations
                </div>
                <div class="card-body">
                  <form [formGroup]="formUser" (ngSubmit)="updateUser(user)" novalidate>
                    <div class="form-group">
                      <label for="nom">Nom</label>
                      <input type="text" class="form-control" id="nom" formControlName="last_name" [value]="user.last_name" />
                      <!--<div *ngIf="form.nom.errors" class="invalid-feedback" [ngClass]="{'show-error': submitted ||form.nom.touched }" >
                          <span *ngIf="form.nom.errors.required">Champs obligatoire</span>
                          <span *ngIf="form.nom.errors.minlength">Taille minimum 3</span>
                          <span *ngIf="form.nom.errors.pattern">Contien que des lettres</span>
                      </div>-->
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" id="prenom" formControlName="first_name" value="{{user.first_name}}" />
                        <!--<div *ngIf="form.prenom.errors" class="invalid-feedback" [ngClass]="{'show-error': form.prenom.touched }" >
                            <span *ngIf="form.prenom.errors.required">Champs obligatoire</span>
                            <span *ngIf="form.prenom.errors.minlength">Taille minimum 3</span>
                            <span *ngIf="form.prenom.errors.pattern">Contien que des lettres</span>
                        </div>-->
                      </div>
                  
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="text" class="form-control" id="password" formControlName="password" value="{{user.password}}" />
                            <div *ngIf="form.password.errors" class="invalid-feedback" [ngClass]="{'show-error': form.password.touched }" >
                              <span *ngIf="form.password.errors.required">Champs obligatoire</span>
                          </div>
                          </div>
                        <div class="form-group">
                            <label for="Poste">Poste</label>
                            <input type="text" class="form-control" id="poste" formControlName="poste" value="{{user.poste}}" />
                            <div *ngIf="form.poste.errors" class="invalid-feedback" [ngClass]="{'show-error': form.poste.touched }" >
                                <span *ngIf="form.poste.errors.required">Champs obligatoire</span>
                                <span *ngIf="form.poste.errors.pattern">Contient que des lettres</span>
                             
                            </div>
                          </div>
                        <div class="form-group">
                            <label for="phone">Téléphone</label>
                            <input type="text" class="form-control" id="phone" formControlName="phone" value="{{user.phone}}" />
                            <div *ngIf="form.phone.errors" class="invalid-feedback" [ngClass]="{'show-error': form.phone.touched }" >
                            <span *ngIf="form.phone.errors.pattern">Contient que des numeros</span>
                             
                            </div>
                          </div>
                        <div class="form-group">
                            <label for="website">Site web</label>
                            <input type="text" class="form-control" id="website" formControlName="website" value="{{user.website}}" />
                            <div *ngIf="form.website.errors" class="invalid-feedback" [ngClass]="{'show-error': form.website.touched }" >
                                <span *ngIf="form.website.errors.pattern">Contient un url</span>
                             
                            </div>
                          </div>
                     
                        <div class="btn-submit float-right">
                            <button type="submit" class="btn btn-success ">Modifier</button>
                            <button type="reset" class="btn btn-danger ">Annuler</button>
                            
                        </div>
                        
                       
                  </form>
                </div>
              </div>
  
  

